@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    
}

body {
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    
    height: 630px;
    width: 305px;
    
    
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 270px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 4px solid rgb(255, 255, 255);
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 10px black;
    transition: transform 0.3s, border 1s;
}